# Dataframe - most used data structure of pandas

In [27]:
# We can create dataframe from 2d array , dict of python ,read from diff type of files
# like csv,execl, parquet, json

def printLine():
    print('-'*40)



import pandas as pd

# dictionary/map - All arrays must be of the same length, type can be different
pyhton_dict={
        "name":["A","B","C","D"],
        "sub":["py","java","js","math"]
}

data_frame=pd.DataFrame(pyhton_dict)
print(data_frame)

# We can export this data frame to diff type like csv, excel,parquet...etc
data_frame.to_csv("./generatedDataFrame.csv")

  name   sub
0    A    py
1    B  java
2    C    js
3    D  math

In [28]:

# Load dataframe from diff file
# pd.read_xxx(filepath)  xxx-> type of file 

bank_data=pd.read_csv("./BankDataSet.csv")   #data is loaded from file to bank_data obj

bank_data.head()  # get top elements, by default 5. Pass .head(totalRowFromTop)

bank_data.tail()  # similar to head just gives rows from bottom

bank_data.sample(5) # Random rows are selected from dataset, by default is 1 row ,pass value to fetch as much as we want

# why random ? 
# dataset can be very large and analysing data best on first or last few record doesn't make sense(Similar can be put at top or bottom)

# Practical usecase - Generate random data but same random data should be generated 

bank_data.sample(5,random_state=3) # here state will make sure same data is given again and again 
# state can be any random int, in short consider our state number is used to create randomness 
# so if we pass same state same random data will be given

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5876,15585379,Humphries,704,France,Male,39,2,111525.02,1,1,0,199484.96,0
6555,15581505,Bales,641,France,Male,35,5,0.00,2,1,0,93148.93,0
1448,15585367,Diribe,555,Germany,Female,46,4,120392.99,1,1,0,177719.88,1
3351,15792729,Holland,474,Germany,Female,34,9,176311.36,1,1,0,160213.27,0
231,15627000,Freeman,610,France,Male,40,0,0.00,2,1,0,62232.60,0

In [39]:
# few useful attributes for dataframe and series

list(bank_data.index)   # return rows (useful only if custom labels are given)
print(list(bank_data.columns)) # return list of columns in dataframe
printLine()
print("Diamension : ",bank_data.shape)  # diamension of dataframe
printLine()
print("size : ",bank_data.size) # get total size of dataframe (elements count)
printLine()
# print(bank_data.describe()) # gives description about dataframe , count,agg ,mean, min,max
print(bank_data.info())  # gives info about dataframe , datatypes ,memory usage

['CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']
----------------------------------------
Diamension :  (10000, 13)
----------------------------------------
size :  130000
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  int64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              10000 non-null  int64
 6   Tenure           10000 non-null  int64
 7   Balance          10000 non-null  float64
 8   NumOfProducts    10000 non-null  int64
 9   HasCrCard        10000 non-null  int64
 10  IsActiveMember   10000 non-null  int64
 11  EstimatedSalary  10000 non-null  float64
 12  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.8+ KB
None