# Combine mulitple dataframes

- similar to sql we can combine two or more dataframe togther to get output 
- merge, join are possible on dataframe

In [12]:
import pandas as pd

locationData=pd.DataFrame({
     'id' : ['id1','id2','id3','id4','id5'],
     'location' :['Mumbai','Delhi','Pune','Mumbai','Chennai']
})

subjectData=pd.DataFrame({
     'id' : ['id3','id1','id2','id5','id4','id6'],
     'subject' :['Java','Python','Rust','Java','C++','Python']
})

In [ ]:

# To combine multiple dataframes together we have use .merge(df1,df2,how,on) how= what type of join, on=based on which col
# Note : if common col names are diff in both df then we can pass left.on='col1' and right.on='col2'
# types of join -  inner ,outer ,left, right

# 1. inner 
innerMerge=pd.merge(locationData,subjectData,how='inner',on='id') 
print(innerMerge)

    id location subject
0  id1   Mumbai  Python
1  id2    Delhi    Rust
2  id3     Pune    Java
3  id4   Mumbai     C++
4  id5  Chennai    Java

In [14]:

# 2. left 
leftMerge=pd.merge(locationData,subjectData,how='left',on='id') 
print(leftMerge)

    id location subject
0  id1   Mumbai  Python
1  id2    Delhi    Rust
2  id3     Pune    Java
3  id4   Mumbai     C++
4  id5  Chennai    Java

In [15]:

# 3. right 
rightMerge=pd.merge(locationData,subjectData,how='right',on='id') 
print(rightMerge)

    id location subject
0  id3     Pune    Java
1  id1   Mumbai  Python
2  id2    Delhi    Rust
3  id5  Chennai    Java
4  id4   Mumbai     C++
5  id6      NaN  Python

In [18]:

# Also we can use concate() to add multiple df.(either row or col)
# pass axis to concat row or col wise (default is col axis=0)
concated_df=pd.concat([locationData,subjectData],axis=1)
concated_df

    id location   id subject
0  id1   Mumbai  id3    Java
1  id2    Delhi  id1  Python
2  id3     Pune  id2    Rust
3  id4   Mumbai  id5    Java
4  id5  Chennai  id4     C++
5  NaN      NaN  id6  Python

In [ ]:
# Group by -> simialr to group by in sql , also few function are available to peroform operation on groupby data

groupBy=concated_df.groupby('subject').count()
print(groupBy)

         id  location  id
subject
C++       1         1   1
Java      2         2   2
Python    1         1   2
Rust      1         1   1