# Nan handling

- Mostly when you get dataset or you perform some merge operation on data, you get Nan values 
- It is important to handle this values, as we want our data be clean and ready to consume
- e.g. When you are taking avg of one col, Nan values will make calculation difficult

In [36]:
import pandas as pd

locationData=pd.DataFrame({
     'id' : ['id1','id2','id3'],
     'location' :['Mumbai','Delhi','Pune']
})

subjectData=pd.DataFrame({
     'id' : ['id3','id1','id2','id5','id4','id6'],
     'subject' :['Java','Python','Rust','Java','C++','Python']
})

result=pd.merge(locationData,subjectData,how="right",on='id')
print(result)

    id location subject
0  id3     Pune    Java
1  id1   Mumbai  Python
2  id2    Delhi    Rust
3  id5      NaN    Java
4  id4      NaN     C++
5  id6      NaN  Python

In [37]:
result.isna()    # this will give same size of data (n*m) mentioning if true or false based on Nan value in cell

# similary result.notna() is opposite of this method

result.isna().sum()   # gives description of how many nulls in each col

id          0
location    3
subject     0
dtype: int64

In [39]:
# to fill all the nan value with default value we can use .fillna('value')

# result = result.fillna(0)  # fills all nan in dataframe
result['location']=result['location'].fillna('NotAva')

print(result)

    id location subject
0  id3     Pune    Java
1  id1   Mumbai  Python
2  id2    Delhi    Rust
3  id5   NotAva    Java
4  id4   NotAva     C++
5  id6   NotAva  Python